
.card {
    margin-bottom: 4rem;
    background-color: rgb(247, 247, 247);
}
.card-title {
    font-weight: 900;
}
.card-body {
    font-weight: 400;
}

.btn .btn-primary {
    text-align: center!important;

}
.btn-primary {
    color: black;
    background-color: goldenrod;
    border-color: black;
}
.btn-primary:hover {
    color: black;
    background-color: goldenrod;
    border-color: black;
  
}

.movieCard-btn {
    width: 100%;
    margin-top: 1rem;
}

a {
    text-decoration: none!important;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    max-height: 450px;
    min-height: 450px;
}
 
@media screen and (max-width: 1399px) and (min-width: 1201px) {
    .card-img, .card-img-bottom, .card-img-top {
        max-height: 425px!important;
        min-height: 425px!important;
    }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
    .card-img, .card-img-bottom, .card-img-top {
        max-height: 325px!important;
        min-height: 325px!important;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .card-img, .card-img-bottom, .card-img-top {
        max-height: 225px!important;
        min-height: 225px!important;
    }
}

@media screen and (min-width: 768px) {
    .card-btns {
        display: flex;
        flex-direction: column;
        
    }
}
