
.card {
    margin-bottom: 4rem;
    background-color: rgb(247, 247, 247);
}
.card-title {
    font-weight: 900;
}
.card-body {
    font-weight: 400;
}

.btn .btn-primary {
    text-align: center!important;

}
.btn-primary {
    color: black;
    background-color: goldenrod;
    border-color: black;
    
}
.btn-primary:hover {
    color: black;
    background-color: goldenrod;
    border-color: black;
  
}
.card-btns {
    display: flex;
    justify-content: space-between;
  
}
a {

    text-decoration: none!important;
}