
.card {
    margin-bottom: 4rem;
    background-color: rgb(247, 247, 247);
}

.cardClass {
  
    max-width: 100%;
    height: 400px;
}

.card-image{
    width: auto;
    height: 150px;
    object-fit: cover;
}

.card-title {
    font-weight: 900;
}
.card-text-body {
    display: flex;
    flex-direction: column;
    min-width: 0;
}
.card-description {
    font-size: 13px;
    
    overflow: hidden;
}

.card-body {
    font-weight: 400;
}

// .card-header .fa {
//     transition: .3s transform ease-in-out;
//   }
//   .card-header .collapsed .fa {
//     transform: rotate(90deg);
//   }.card-header .fa {
//     transition: .3s transform ease-in-out;
//   }
//   .card-header .collapsed .fa {
//     transform: rotate(90deg);
//   }

  .accordion-button:not(.collapsed) {
    color: black;
    background-color: goldenrod;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url(../../../img/downArrow.svg);
  }

  .accordion-button:focus {
    border-color: goldenrod;
    box-shadow: 0 0 0 0.25rem rgb(218 165 32 / 25%);
  }

.btn .btn-primary {
    text-align: center!important;

}
.btn-primary {
    color: black;
    background-color: goldenrod;
    border-color: black;
}
.btn-primary:hover {
    color: black;
    background-color: goldenrod;
    border-color: black;
  
}


a {
    text-decoration: none!important;
}


 
// @media screen and (max-width: 1399px) and (min-width: 1201px) {
//     .card-image{
//         max-height: 425px!important;
//         min-height: 425px!important;
//     }
//     .h5, h5 {
//         font-size: 1rem!important;
//     }
// }

// @media screen and (max-width: 1200px) and (min-width: 993px) {
//     .card-image {
//         max-height: 325px!important;
//         min-height: 325px!important;
//     }
//     .h5, h5 {
//         font-size: 1rem!important;
//     }
// }

// @media screen and (max-width: 992px) and (min-width: 768px) {
 
//     .card-image {
//         max-height: 225px!important;
//         min-height: 225px!important;
//     }
// }

// @media screen and (min-width: 768px) {
//     .card-btns {
//         display: flex;
//         flex-direction: column;
//     }
   
// }

// @media screen and (max-width: 768px) {

//     .card-image{
//         width: 100%;
//         max-height: none;
//         min-height: auto;
//     }
// }


