

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900!important;
}
.background {
    background-image: linear-gradient( rgba(80, 80, 80, 0.5), rgba(75, 75, 75, 0.5), rgba(75, 75, 75, 0.5)), url("/img/background.jpg");
}

.logo-container {
    text-align: center;
    // background-color: white;
    margin-bottom: 1rem;
}

