.favorite-movies-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.favorites-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.cardClass {
    width: 16rem;
}
.btn {
    background-color: goldenrod;
    color: black;
    border-color: black;
}

.btn-danger:hover {
    background-color: goldenrod;
    color: black;
    border-color: black;
}

.fav-movie-btns {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}
.remove-btn {
    margin-top: 1rem;
    padding: 6px 12px;
}

.form-label {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.update-btn {
    margin-top: 1.5rem;
    padding: 6px 42px;
}

.row {
    justify-content: center;
}

.form-validation-error {
    color: red;
}
#fav-movie-image {
    max-height: none;
    min-height: auto;
    width: 30%;
}