.favorite-movies-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: goldenrod;
    color: black;
    border-color: black;
}

.btn-danger:hover {
    background-color: goldenrod;
    color: black;
    border-color: black;
}

.fav-movie-btns {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.form-label {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.update-btn {
    margin-top: 1.5rem;
    padding: 6px 42px;
}

.row {
    justify-content: center;
}

.form-validation-error {
    color: red;
}
#fav-movie-image {
    max-height: none;
    min-height: auto;
    width: 60%;
}