.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}


.btn-link {
    text-decoration: none;
}
.back-btn {
    width: 35%;
    margin-top: 3.75rem;

}

#movie-viewIMG {
    width: 500px!important;
    height: auto!important;
}

@media screen and (min-width: 769px) {
    .info-btn {
        width: 65%;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .info-btn {
        width: 75%;
        margin-top: 1rem;
    }
}
