.login-title {
    text-align: center;
    margin-top: 2rem;
    font-weight: 900;
    font-size: 3rem;
}
.form-label {
    font-size: 1.35rem;
}
.login-button {
   width: 70%;
   padding: 8px;
   margin-top: 2rem;
   margin-bottom: 1.75rem;
    font-weight: 700;
    text-align: center;
    font-size: 1.25rem;
}

.register {
  
    text-align: center;
    font-size: 1rem;
}